<h1>Users</h1>

<div class="sort-filters">
  <!-- Sort -->
  <div class="sort">
    <label>Sort by: </label>
    <select (change)="sortUsersByValue($event.target.value)">
      <option *ngFor="let key of userKeys" [value]="key">
        {{ key }}
      </option>
    </select>
  </div>

  <!-- Filter -->
  <!-- TODO - Add event to pass value to filterUsersByValue method -->
  <div class="filter">
    <input
      type="text"
      placeholder="Search for user..."
      (keyup)="filterUsersByValue($event.target.value)"
    />
  </div>
</div>

<!-- Users Grid -->
<div class="users">
  <!-- Header -->
  <div class="header">
    <p *ngFor="let key of userKeys">{{ key }}</p>
  </div>

  <!-- Body -->
  <div *ngFor="let user of users" class="body">
    <p>{{ user.id }}</p>
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>
    <p>{{ user.address }}</p>
    <p>{{ user.account }}</p>
  </div>
</div>

<table class="table-bordered">
  <thead>
    <tr class="header">
      <th *ngFor="let key of userKeys">{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" class="">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.account }}</td>
    </tr>
  </tbody>
</table>
